In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")
sub = pd.read_csv("SampleSubmission.csv")
var = pd.read_csv("VariableDefinitions.csv")

In [3]:
train.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [4]:
test.shape, train.shape

((10086, 12), (23524, 13))

In [6]:
target = [i for i in train.columns.tolist() if i not in test.columns.tolist()]

In [7]:
train[target[0]].value_counts()

No     20212
Yes     3312
Name: bank_account, dtype: int64

In [8]:
train[target[0]].value_counts()/train.shape[0]

No     0.859208
Yes    0.140792
Name: bank_account, dtype: float64

In [9]:
sub

                    unique_id  bank_account
0          uniqueid_1 x Kenya             0
1          uniqueid_2 x Kenya             0
2          uniqueid_3 x Kenya             0
3          uniqueid_4 x Kenya             0
4          uniqueid_5 x Kenya             0
...                       ...           ...
33605  uniqueid_2998 x Uganda             0
33606  uniqueid_2999 x Uganda             0
33607  uniqueid_3000 x Uganda             0
33608  uniqueid_3001 x Uganda             0
33609  uniqueid_3002 x Uganda             0

[33610 rows x 2 columns]

In [10]:
test.shape, sub.shape

((10086, 12), (33610, 2))

In [13]:
train.duplicated().sum()

0

In [14]:
train.isna().sum()

country                   0
year                      0
uniqueid                  0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [16]:
test.duplicated().sum()

0

In [17]:
test.isna().sum()

country                   0
year                      0
uniqueid                  0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [20]:
train.dtypes

country                   object
year                       int64
uniqueid                  object
bank_account              object
location_type             object
cellphone_access          object
household_size             int64
age_of_respondent          int64
gender_of_respondent      object
relationship_with_head    object
marital_status            object
education_level           object
job_type                  object
dtype: object

In [19]:
train.describe()

               year  household_size  age_of_respondent
count  23524.000000    23524.000000       23524.000000
mean    2016.975939        3.797483          38.805220
std        0.847371        2.227613          16.520569
min     2016.000000        1.000000          16.000000
25%     2016.000000        2.000000          26.000000
50%     2017.000000        3.000000          35.000000
75%     2018.000000        5.000000          49.000000
max     2018.000000       21.000000         100.000000

In [21]:
train.columns

Index(['country', 'year', 'uniqueid', 'bank_account', 'location_type',
       'cellphone_access', 'household_size', 'age_of_respondent',
       'gender_of_respondent', 'relationship_with_head', 'marital_status',
       'education_level', 'job_type'],
      dtype='object')

In [23]:
train['country'].unique()

array(['Kenya', 'Rwanda', 'Tanzania', 'Uganda'], dtype=object)

In [24]:
test['country'].unique()

array(['Kenya', 'Rwanda', 'Tanzania', 'Uganda'], dtype=object)

In [26]:
train['location_type'].unique()

array(['Rural', 'Urban'], dtype=object)

In [28]:
cols = [dt for dt in train.columns.tolist() if train[dt].dtypes == "O"]

In [29]:
for i in cols:
  print(i)
  print(train[i].unique())
  print(train[i].value_counts())
  print("=======================================")

country
['Kenya' 'Rwanda' 'Tanzania' 'Uganda']
Rwanda      8735
Tanzania    6620
Kenya       6068
Uganda      2101
Name: country, dtype: int64
=======================================
uniqueid
['uniqueid_1' 'uniqueid_2' 'uniqueid_3' ... 'uniqueid_8757'
 'uniqueid_8758' 'uniqueid_8759']
uniqueid_1       4
uniqueid_1413    4
uniqueid_1411    4
uniqueid_1410    4
uniqueid_1409    4
                ..
uniqueid_7318    1
uniqueid_7317    1
uniqueid_7316    1
uniqueid_7315    1
uniqueid_8759    1
Name: uniqueid, Length: 8735, dtype: int64
=======================================
bank_account
['Yes' 'No']
No     20212
Yes     3312
Name: bank_account, dtype: int64
=======================================
location_type
['Rural' 'Urban']
Rural    14343
Urban     9181
Name: location_type, dtype: int64
=======================================
cellphone_access
['Yes' 'No']
Yes    17454
No      6070
Name: cellphone_access, dtype: int64
=======================================
gender_of_respondent
['Female' 'Male']
Female    13877
Male       9647
Name: gender_of_respondent, dtype: int64
=======================================
relationship_with_head
['Spouse' 'Head of Household' 'Other relative' 'Child' 'Parent'
 'Other non-relatives']
Head of Household      12831
Spouse                  6520
Child                   2229
Parent                  1086
Other relative           668
Other non-relatives      190
Name: relationship_with_head, dtype: int64
=======================================
marital_status
['Married/Living together' 'Widowed' 'Single/Never Married'
 'Divorced/Seperated' 'Dont know']
Married/Living together    10749
Single/Never Married        7983
Widowed                     2708
Divorced/Seperated          2076
Dont know                      8
Name: marital_status, dtype: int64
=======================================
education_level
['Secondary education' 'No formal education'
 'Vocational/Specialised training' 'Primary education'
 'Tertiary education' 'Other/Dont know/RTA']
Primary education                  12791
No formal education                 4515
Secondary education                 4223
Tertiary education                  1157
Vocational/Specialised training      803
Other/Dont know/RTA                   35
Name: education_level, dtype: int64
=======================================
job_type
['Self employed' 'Government Dependent' 'Formally employed Private'
 'Informally employed' 'Formally employed Government'
 'Farming and Fishing' 'Remittance Dependent' 'Other Income'
 'Dont Know/Refuse to answer' 'No Income']
Self employed                   6437
Informally employed             5597
Farming and Fishing             5441
Remittance Dependent            2527
Other Income                    1080
Formally employed Private       1055
No Income                        627
Formally employed Government     387
Government Dependent             247
Dont Know/Refuse to answer       126
Name: job_type, dtype: int64
=======================================

In [45]:
def encoder(data):
   cols = ["gender_of_respondent","location_type", "bank_account", "cellphone_access"]
   for col in cols:
     for index, value in enumerate(data[col]):
       if value =="Female" or value == "Rural" or value == "No":
         data[col][index] = 0
       else:
          data[col][index] = 1
    return data

IndentationError: ignored

In [46]:
x = []
for i in train["gender_of_respondent"]:
  if i == "Female":
    x.append(0)
  else:
    x.append(1)

In [49]:
def encoder(data, col, value):
  x = []
  for i in data[col]:
    if i == value:
      x.append(0)
    else:
      x.append(1)
  data[col] = x
  return data

In [50]:
train = encoder(data = train, col = "gender_of_respondent", value ="Female")

In [52]:
train = encoder(data = train, col = "location_type", value = "Rural")
train = encoder(data = train, col = "cellphone_access", value = "No")
train = encoder(data = train, col = "bank_account", value = "No")

In [53]:
train.dtypes

country                   object
year                       int64
uniqueid                  object
bank_account               int64
location_type              int64
cellphone_access           int64
household_size             int64
age_of_respondent          int64
gender_of_respondent       int64
relationship_with_head    object
marital_status            object
education_level           object
job_type                  object
dtype: object

In [54]:
from sklearn.preprocessing import LabelEncoder

In [56]:
lr = LabelEncoder()

In [65]:
train["education_level"] = lr.fit_transform(train['education_level'])
train["relationship_with_head"] = lr.fit_transform(train['relationship_with_head'])
train["marital_status"] = lr.fit_transform(train['marital_status'])
train["job_type"] = lr.fit_transform(train['job_type'])

In [66]:
train.dtypes

country                   object
year                       int64
uniqueid                  object
bank_account               int64
location_type              int64
cellphone_access           int64
household_size             int64
age_of_respondent          int64
gender_of_respondent       int64
relationship_with_head     int64
marital_status             int64
education_level            int64
job_type                   int64
dtype: object

In [67]:
from sklearn.model_selection import train_test_split

In [77]:
y = train["bank_account"]
X = train[[i for i in test.columns.tolist() if i != "country"]]

In [79]:
X= X.drop("uniqueid", axis = 'columns')

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state=2022)

In [81]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [82]:
log = LogisticRegression()
rfc = RandomForestClassifier()

In [83]:
log.fit(X_train, y_train)
rfc.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

RandomForestClassifier()

In [84]:
pred_log = log.predict(X_test)
pred_rfc = rfc.predict(X_test)

In [93]:
from sklearn.metrics import confusion_matrix, accuracy_score, mean_absolute_error

In [87]:
pd.Series(pred_log).value_counts()

0    4498
1     207
dtype: int64

In [88]:
pd.Series(pred_rfc).value_counts()

0    4266
1     439
dtype: int64

In [90]:
print(confusion_matrix(y_test, pred_log))

[[3968   75]
 [ 530  132]]

In [94]:
accuracy_score(y_test, pred_log)

0.871413390010627

In [95]:
accuracy_score(y_test, pred_rfc)

0.8688629117959618

In [99]:
mean_absolute_error(y_test, pred_log)

0.12858660998937302

In [100]:
mean_absolute_error(y_test, pred_rfc)

0.13113708820403824

In [111]:
pred_log_proba = log.predict_proba(X_test)
pred_rfc_proba = rfc.predict_proba(X_test)

In [118]:
mean_absolute_error(y_test,(np.array(pd.DataFrame(pred_log_proba)[0])))

0.8028125365262839

In [119]:
mean_absolute_error(y_test,(np.array(pd.DataFrame(pred_rfc_proba)[0])))

0.8303074583747807